version: '3.9'

services:
  grpc-server:
    build: ./service
    ports:
      - 9000:9000
      - 50051:50051
      - 8090:8090
    environment:
      - POSTGRESS_URL=postgres:5432
      - REDIS_URL=redis:6379
    depends_on:
      - postgres
      - redis
    networks:
      - service-network

  postgres:
    image: postgres:14-alpine
    command: -c 'max_connections=100'
    environment:
      POSTGRES_DB: "grpc-blog-storage"
      POSTGRES_USER: "jussiar"
      POSTGRES_PASSWORD: "admin"
    ports:
      - 5432:5432
    volumes:
      - ./storages/postgres:/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U jussiar -d grpc-blog-storage"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    restart: unless-stopped
  
  redis:
    image: redis:alpine
    ports:
      - 6379:6379
    volumes:
      - ./storages/redis:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 30s
      timeout: 10s
      retries: 5
    restart: unless-stopped

networks:
  service-network:
    driver: bridge
    driver_opts:
      com.docker.network.bridge.host_binding_ipv4: "127.0.0.1"
    